.app-container {
  height: 110vh; /* Set height to 110% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds container height */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Optional: Add padding for spacing */
}


.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the Navbar is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0); /* Optional: Add shadow for visual separation */
  padding: 10px 20px; /* Adjust padding as needed */

}

.gradient-text {
  background: linear-gradient(90deg, #BC6E94, #5A0D57); /* Gradient colors */
  -webkit-background-clip: text; /* Set background clip to text */
  -webkit-text-fill-color: transparent; /* Fill text with the background color */

}


.text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-item {
  opacity: 0;
  text-shadow: 0 0 12px rgb(186, 151, 176); 
  transition: opacity 2s ease;
}

.fade-in-active {
  opacity: 1;
}

.fade-out-active .text-item {
  opacity: 0;
}

.aesthetix-text {
  opacity: 0;
  font-size: 18rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  animation: fade-in-zoom 1.3s forwards;
  transition: all 1.5s ease-out;
  padding: 1rem;
}


.aesthetix-text-2 {
  opacity: 0;          /* Start with opacity set to 0 */
  animation: fadeIn 3s forwards; 
  text-shadow: 0 0 36px rgb(190, 112, 168); /* Use the fadeIn animation with a duration of 3 seconds */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-zoom {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.78);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.85);
  }
}

body{
  background-color: rgb(254, 241, 241);
  color: rgb(0, 0, 0);
  
}

.trans{
  transition: opacity 2s ease;
}

.navbar-logo a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links li a:hover {
  text-decoration: underline;
}


.container {
  display: flex;
  align-items: stretch; /* Stretch items vertically */
}

.content {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Optional: Add padding around content */
}

.image-section {
  position: sticky;
  top: 0;
	height: 100vh;
  display: grid;
  place-items: center;
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.image-section img {
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 100%; /* Ensure image does not exceed container height */
}

/* NEW */
@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: #5A0D57;
  --accent: hsl(0 0% 100%);
  --fill: #5A0D57;
  --underline-color:#761f7357;
  /*  */
}


p {
  resize: both;
  max-width: 70vw;
  overflow: hidden;
  padding: 10ch;
	margin: 0;
}

p > span {
	outline-color: hsl(10 80% 50%);
	outline-offset: 1ch;
	font-size: 45px;
  font-weight: 500;
  color: var(--color);
  text-decoration: none;
  background-image:
		/* First one is the highlight */
		linear-gradient(90deg, transparent calc(100% - 8ch), var(--accent) calc(100%  - 8ch)),
  	linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size:
  	var(--underline-block-width) var(--underline-width),
  	var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-clip: text;
  color: var(--finish-fill);
}

main {
  height: 200vh;
  text-shadow: none;
}

section {
  position: sticky;
  top: 0;
	height: 100vh;
  display: grid;
  place-items: center;
  transition: all 1s ease-in;
}


@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    main {
      view-timeline-name: --section;
    }
    
    p > span {
      background-position-x:
        calc(var(--underline-block-width) * -1),
        calc(var(--underline-block-width) * -1),
        0;
      color: transparent;
      animation-name: fill-up, color-in;
      animation-fill-mode: both;
      animation-timing-function: linear;
    	animation-timeline: --section;
    	animation-range: entry 100% cover 50%, cover 50% exit 0%;
    }

    @keyframes fill-up {
    	to { background-position-x: 0, 0, 0; }
    }

    @keyframes color-in {
    	to { color: var(--finish-fill); }
    }
  }
}

/* NAVBAR */

.login{
    height: 100vh;
    background-color: rgb(15, 15, 19,0.999);
}
.sign-up{
    color: #4338ca;
}
.sign-up:hover{
    color: #4f42dc;
}
.input{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 66px;
    width: 400px;
    border-radius: 5px;
}
.login-button{
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    height: 66px;
    width: 400px;
    border-radius: 5px;
}
.login-button2{

    letter-spacing: 0.5px;
    height: 60px;
    width: 400px;
}
.border1 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64px;
    width: 404px;
    position: relative;
    background: linear-gradient(to right, rgb(51, 196, 22), rgb(243, 255, 79));
    border-radius: 4px;
    padding: 1px;
}
.border2 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64px;
    width: 404px;
    position: relative;
    background: linear-gradient(to left, rgb(226, 255, 180), rgb(253 230 138));
    border-radius: 4px;
    padding: 2px;
}
.border3 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64px;
    width: 404px;
    position: relative;
    background: linear-gradient(to right, rgb(125, 202, 0), rgb(255, 235, 155));
    border-radius: 4px;
    padding: 2px;
}
.inner{
    background: rgb(15, 15, 19,0.999);
    border-radius: 4px;
}

.hover-underline-animation {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;

  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: #4338ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:active{
    transition: all 0.5s;
    transform: scale(0.9);
}

.leading-text {
  opacity: 0;
  font-size: 0px;
  transition: opacity 1s ease-in-out, font-size 2s ease-in-out;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the container takes full viewport height */

}

.gradient-text {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out;
}